ajsonrpc==1.2.0
ansible==9.13.0
ansible-core==2.16.14
antlr4-python3-runtime==4.13.2
anyio==3.7.1
appdirs==1.4.4
archspec==0.2.4
argcomplete==3.5.3
astroid==3.3.8
attrs==24.2.0
Authlib==1.3.2
babel==2.17.0
beautifulsoup4==4.12.3
biopython==1.84
bitarray==2.8.5
bitstring==4.1.4
blessed==1.20.0
blessings==1.7
blivet==3.11.0
blivet-gui==2.6.0
bodhi-client==8.3.0
boltons==24.0.0
boto3==1.37.3
botocore==1.37.3
bottle==0.12.25
bpython==0.25
Brlapi==0.8.5
Brotli==1.1.0
cachetools==5.4.0
cairocffi==1.7.0
CairoSVG==2.7.0
certifi==2023.5.7
cffi==1.17.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
colorama==0.4.6
colored==2.2.4
conda==24.9.1
conda-libmamba-solver==23.11.1
conda-package-handling==2.3.0
conda_package_streaming==0.10.0
contourpy==1.3.1
crypt_r==3.13.1
cryptography==43.0.0
cssselect==1.1.0
cssselect2==0.7.0
cupshelpers==1.0
curtsies==0.4.2
cwcwidth==0.1.9
cycler==0.11.0
Cython==3.0.11
dasbus==1.7
dbus-python==1.3.2
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.9
distro==1.9.0
dnf==4.21.1
docutils==0.20.1
ecdsa==0.19.0
esptool==4.8.1
fedora-third-party==0.10
file-magic==0.4.0
fonttools==4.53.1
fros==1.1
frozendict==2.4.4
fs==2.4.16
FVS==0.3.4
gmpy2==2.2.1
google-re2==1.1.20240702
greenlet==3.1.1
gssapi==1.7.3
h11==0.14.0
hid==1.0.6
httplib2==0.21.0
humanize==4.9.0
icoextract==0.1.5
idna==3.7
igraph==0.11.8
intelhex==2.3.0
iso639==0.1.4
isodate==0.6.1
isort==5.13.2
jedi==0.19.1
Jinja2==3.1.5
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==2.4
kitchen==1.2.6
kiwisolver==1.4.8
koji==1.35.1
krb5==0.5.1
langtable==0.0.68
legacy-cgi==2.6.2
libcomps==0.1.21
libdnf==0.73.4
libdnf5==5.2.10.0
libmambapy==1.5.8
libvirt-python==10.6.0
lockfile==0.12.2
louis==3.28.0
lxml==5.2.1
Markdown==3.7
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.4
mccabe==0.7.0
menuinst==2.0.0
mercurial==6.8.2
mpmath==1.3.0
munch==2.5.0
mutagen==1.47.0
myhdl==0.11
networkx==3.3
nftables==0.1
numexpr==2.8.5
numpy==1.26.4
olefile==0.47
openidc-client==0.7.0
ordered-set==4.1.0
orjson==3.10.14
outcome==1.2.0
packaging==24.2
parso==0.8.4
pathvalidate==3.2.1
patool==3.1.3
pefile==2023.2.7
perf==0.1
pexpect==4.9.0
pid==2.2.3
pillow==11.0.0
pipx==1.7.1
platformdirs==4.2.2
platformio==6.1.14
pluggy==1.5.0
ply==3.11
pooch==1.8.2
productmd==1.43
progressbar2==3.53.2
psutil==5.9.8
ptyprocess==0.7.0
pwquality==1.4.5
py-cpuinfo==9.0.0
pyasn1==0.6.0
pycairo==1.25.1
pycosat==0.6.6
pycountry==24.6.1
pycparser==2.20
pycryptodomex==3.21.0
pycups==2.0.4
pycurl==7.45.3
pyelftools==0.31
pyenchant==3.2.2
pygit2==1.17.0
pyglet==2.0.10
Pygments==2.18.0
PyGObject==3.48.2
pyinotify==0.9.6
pykickstart==3.58
pylint==3.3.4
pyparsing==3.1.2
pyparted==3.13.0
PyQt4_sip==4.19.25
PyQt5==5.15.10
PyQt5_sip==12.15.0
pyquery==1.4.3
pyserial==3.5
PySocks==1.7.1
pyspnego==0.11.1
pystray==0.17.3
pyte==0.8.2
python-augeas==1.1.0
python-dateutil==2.8.2
python-distutils-extra==2.39
python-dotenv==1.0.1
python-fedora==1.1.1
python-gettext==4.0
python-linux-procfs==0.7.3
python-manatools==0.0.4
python-meh==0.52
python-pam==2.0.2
python-utils==3.7.0
python-xlib==0.33
pyudev==0.24.3
pyxdg==0.27
PyYAML==6.0.1
reedsolo==1.7.0
regex==2024.9.11
requests==2.32.3
requests-file==2.0.0
requests-ftp==0.3.1
requests-gssapi==1.2.3
requests-kerberos==0.14.0
resolvelib==1.0.1
rpm==4.20.0
rpmautospec==0.7.3
rpmautospec-core==0.1.5
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
s3transfer==0.11.3
SciPy==1.11.3
selinux @ file:///builddir/build/BUILD/libselinux-3.7-build/libselinux-3.7/src
semantic_version==2.10.0
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.7-build/selinux-3.7/python/sepolicy
setools==4.5.1
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.35-build/setroubleshoot-3.3.35/src
setuptools==69.2.0
Shredder==2.10.2
shtab==1.7.1
simpleaudio==1.0.4
simplejson==3.19.2
simpleline==1.9.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
sos==4.8.2
soundconverter==4.0.5
soupsieve==2.6
starlette==0.42.0
streamlink==7.1.2
sympy==1.13.3
systemd-python==235
tabulate==0.9.0
termcolor==2.3.0
texttable==1.6.7
thefuck==3.32
tinycss2==1.3.0
tldr==3.3.0
tomlkit==0.12.4
tqdm==4.67.1
TrafficWatch==1.0.0
trio==0.23.1
trio-websocket==0.11.1
typing_extensions==4.12.2
ufw==0.35
urh==2.9.6
urllib3==1.26.20
userpath==1.9.2
uvicorn==0.29.0
vkbasalt-cli==3.1.1.post2
watchdog==3.0.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
WoeUSB-ng==0.2.12
wsproto==1.2.0
wxPython==4.2.2
xkbregistry==0.3
youtube_dl==2021.12.17
yt-dlp==2025.2.19
zombie-imp==0.0.2
zstandard==0.23.0
