/* Border radius */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h3 {
  font-size: 1.5rem;
  font-family: "Playfair Display";
  font-weight: normal;
  margin-bottom: 1rem;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: antiquewhite;
  padding: 5px;
  border-radius: 15px;
}

.svg {
  width: 5rem;
  height: 5rem;
}

.svg2 {
  width: 5rem;
  height: 5rem;
}

body {
  font-family: Mukta, sans-serif, playfair display;
  height: 100vh;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4f546c;
  font-size: 0.9rem;
  background-color: #f9fbff;
}

table {
  border-collapse: collapse;
  -webkit-box-shadow: 0 5px 10px #e1e5ee;
          box-shadow: 0 5px 10px #e1e5ee;
  background-color: white;
  text-align: left;
  overflow: hidden;
}
table thead {
  -webkit-box-shadow: 0 5px 10px #e1e5ee;
          box-shadow: 0 5px 10px #e1e5ee;
}
table th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
}
table td {
  padding: 1rem 2rem;
}
table .status {
  border-radius: 0.2rem;
  background-color: red;
  padding: 0.2rem 1rem;
  text-align: center;
}
table .status-pending {
  background-color: #FFEFBD;
  color: #a68b00;
}
table .status-present {
  background-color: #c8e6c9;
  color: #388e3c;
}
table .status-abscent {
  background-color: #ffCDD2;
  color: #c62828;
}
table tr:nth-child(even) {
  background-color: #f4f6fb;
}